<div  class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.equip_name}}" placeholder="Equipment1 Name" name="equip_name">
    <label for="floatingInput">Equipment Name</label>
  </div>
</div>
<div  class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.mfr}}" placeholder="Manufacture Name" name="mfr">
    <label for="floatingInput">Manufacture Name</label>
  </div>
</div>
<div  class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.serial_num}}" placeholder="Serial Number" name="serial_num">
    <label for="floatingInput">Serial Number</label>
  </div>
</div>
<div  class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.vendor}}" placeholder="Vendor Name" name="vendor">
    <label for="floatingInput">Vendor Name</label>
  </div>
</div>
<div  class="col-12 ">
  <div class="form-floating mb-3">
      <textarea class="form-control" id="floatingInput" placeholder="Description" name="descr" style="height:
      200px">{{this.descr}}</textarea>
    <label for="floatingInput">Description</label>
  </div>
</div>
<div  class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
